.Rhistory
.Rbuildignore
*.Rproj*
.Rproj.user
pkg/vignettes/*.tex
pkg/vignettes/*.log
pkg/vignettes/*.gz
pkg/vignettes/*.tex
pkg/vignettes/*.toc
pkg/vignettes/*.aux
pkg/vignettes/*.bbl
pkg/vignettes/*.blg
pkg/src/*so
pkg/src/*.o
pkg/src/*.dll
