.Rhistory
.RData
*.Rproj*
.Rproj.user
vignettes/*.tex
vignettes/*.log
vignettes/*.gz
vignettes/*.tex
vignettes/*.toc
vignettes/*.aux
vignettes/*.bbl
vignettes/*.blg
vignettes/*.sty
vignettes/*.out
vignettes/*.pdf
src/*so
src/*.o
src/*.dll
src/symbols.rds
credit.Rcheck
